[submodule "externals/jellyfin-ffmpeg"]
	path = externals/jellyfin-ffmpeg
	url = https://github.com/seydx/jellyfin-ffmpeg.git
	branch = ffmpeg-master
[submodule "externals/node-gyp"]
	path = externals/node-gyp
	url = https://github.com/seydx/node-gyp.git
	branch = main
[submodule "externals/binary-data"]
	path = externals/binary-data
	url = https://github.com/seydx/binary-data.git
