# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.claude

node_modules
.DS_Store
dist
dist-ssr
dist-electron
dev-dist
dist-dev
coverage
*.local
/interface
/volume2
/plugins_bkp
/packages/nvr
__pycache__
tree.ts
.dockerignore
/git.sh
python-*
requirements-lock.txt
/binary
/testdata/bbb-*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.egg-info
.venv
volume/camera.ui.yaml
debug.txt

/build
/build2
.tmp
ffmpeg_examples
/script.ts
/output.txt
/binding.local.gyp
/build-darwin.sh
/CLAUDE.md
/prebuilds
/*runner.txt
/prebuildify
/prebuilds-artifacts
/node-av-*
/prebuildify
/docs/.vitepress/dist
/docs/.vitepress/cache
/docs/.vitepress/.temp
/docs/constants
/docs/lowlevel
/docs/highlevel
/docs/api
/docs/lib
/docs/index.md
/projects
/ffmpeg-msvc
/build_mac_local.sh
/*.txt
/list.ts
/caches
/crash-dumps
/examples/tests
/examples/internal
/benchmarks/results/*.json
/*.pdf
/test_internal
/analysis
/ffbuild
/*.bin
/models
/electron
/bin